body {
 font-family: MS Reference Sans Serif;
 background-color: #9cb2d6;
}

a:link {
	color: #323232;
}

a:visited {
	color: #4C4C4C;
}

.pane.concavebox{
<<<<<<< HEAD
	background-color: #666666;
=======
	background-color: black;
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
	margin: 0;
	padding-bottom: 0;
}

.concavebox{
	padding-top: 0px;
}

#nav {
	height: 0px;
}

.pane-title{
	height: 0px;
<<<<<<< HEAD
=======
	font-size: 20px;
	padding: 20px;
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.entry-header p.byline{
	color: black;
}

<<<<<<< HEAD
.alm-reveal h3{
	padding-top: 10px;
	text-align: left;
	font-size: 1.32em;
	height: 80px;
}

.alm-reveal p{
	padding: 10px;
}

#branding {
	background-color: #221661;
=======
#branding {
	background-color: #961b51;
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.entry-header{
	background-color: Cornsilk;
}

h1{
	color: black;
	text-align: center;
	font-weight: bold;
}

h1, h2, h3 ,h4, h5, p {
	font-family: MS Reference Sans Serif;
}

.entry {
	background-color: Cornsilk;
<<<<<<< HEAD
	padding: 15px;	
}

p.entry-meta{
	display: none;
=======
	padding: 5;	
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.entry-footer {
	background-color: LightSteelBlue;
}

.alm-btn-wrap{
	height: 85px;
}

.pager {	
	padding: 5px;
	margin:  5px;
	padding-bottom: 18px;
<<<<<<< HEAD
	display: none;
=======
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.comment-reply-title{
	height: 40px;
	text-align: center;
	color: lightgreen;
}

<<<<<<< HEAD
.pane-title{
	font-size: 15px;
	margin: 5px;
	color: 	#269926;
}

#comments{
	background-color: #a8e4bd;
=======
#comments{
	background-color: LightCyan;
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.col-sm-10{
	padding-bottom: 10px;
}

.form-group{
	padding-bottom: 0px;
	margin: 0px; 
}

#wrap{
	background-color: gray;
}

.row{
	background-color: black;
}

#footer {
<<<<<<< HEAD
 background-color: 	#2B1E0B;
=======
 background-color: 	#2B1E0B;	
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.widget_nav_menu a{
	color: gray;
	  }

<<<<<<< HEAD
#reply-title.comment-reply-title {
  font-size: smaller;
	padding-top: 5px;
=======
#reply-title {
	height: 20px;
>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}

.copyright {
	height: 1px;
	color: #9C6D27;
	font-size: 12px;
}

.size-alm-thumbnail{
<<<<<<< HEAD
}

.alm-listing li img{
	padding: 10px;
	margin: auto;
	max-width: 150px;
	float: left;
	position: relative;
}

.alm-listing li{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

p.byline{
	text-align: center;
=======
	padding: 20px;

>>>>>>> aae5663cf8f13adaed83fbdad5e69700833b63cb
}