/*
font-family: 'Conv_MyriadProRegular';
*/

.container{
    font-family: 'Conv_MyriadProRegular';
    width: 1250px;
    margin: 0 auto;   
}

.clearfix:after{
    content: '';
    clear: both;
    display: table;
}

/*-----Header-styles-----*/
header{
    background: url("../images/dsfsdfsdfds.png") no-repeat top center; 
}

.header-layer{
    background: url("../images/layer-2.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 1250px;
    height: 88px;
}

.header-logo{
    position: relative;
    float: left;
    margin-top: 30px;
    height: 80px;
    margin-left: 140px;
}

.header-logo-link{
    display: block;
    font-weight: 400;
    text-decoration: none;
}

.header-logo-big{
    width: 44px;
    height: 44px;
    float: left;
    background: url("../images/shape-logo.png") no-repeat;
    background-size: contain;
}

.header-logo-small{
    /* Text style for "Prechu" */
    color: black;
    font-size: 42px;
    font-weight: 400;
    float: left;
    margin-left: 16px;
}

.header-nav{  
    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 160px;
}

.header-nav-list{
    font-size: 20px;
    font-weight: 400;
    margin-left: 390px;
}

.header-nav-item{
    float: left;
    margin-left: 30px;
}

.header-nav-item a{
    text-decoration: none;
    color: #6c6c6c;
}

.header-nav-item a:hover{
    text-decoration: underline;
    color: #6993ef;
}

.header-content{
}

.images-iphone{
    height: 427px;
    width: 345px;
    background: url("../images/iphone.png");
    background-size: cover;
    float: left;
    margin-top: 30px;
    margin-left: 160px;
    margin-bottom: 30px;
}

.header-content-text-block{  
    float: right;
    margin-top: 150px;
    margin-right: 200px;
}

.header-content-lorev{
    color: white;
    font-weight: 400;
    line-height: 44px;
    font-size: 42px;
}

.header-content-dummy{
    color: white;
    font-weight: 400;
    line-height: 44px;
    font-size: 26px;
}

.header-content-printing{
    color: white;
    font-weight: 400;
    line-height: 44px;
    font-size: 26px;
}

.header-content-sign-up-shape{
    background: url("../images/shape-sign-up.png");
    background-size: cover;
    width: 23px;
    height: 23px;
    float: left;
    top: 28px;
    left: 52px;
    position: relative;
}

.header-content-sign-up{
    width: 172px;
    height: 41px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    padding: 4px 12px;
    padding-left: 40px;
    background: #6993ef;
    margin-left: 20px;
    line-height: 80px;
}

.header-layer-6{
    background: url("../images/layer-6.png") space repeat;
    background-size: cover;
    position: relative;
    width: 1500px;
    height: 20px;
    top: -20px;
    left: 0px;
}

.header-layer-4{
    background: url("../images/layer-4.png");
    position: absolute;
    width: 25px;
    height: 63px;
    top: 330px;
    left: calc(50% - 530px);
}

.header-layer-4-copy{
    background: url("../images/layer-4-copy.png");
    position: absolute;
    width: 25px;
    height: 63px;
    top: 330px;
    left: calc(50% + 530px);
}

/*-----Header-styles-end-----*/

/*-----Contrary-styles-----*/
.contrary-header{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: rgb(51, 51, 51); 
    margin-top: 20px;
    margin-bottom: 45px;
}

.contrary-header:before{
    content: '';
    width: 140px;
    height: 3px;
    background-color: rgb(220, 0, 0);
    display: inline-block;
    position: absolute;
    top: -10px;
    left: calc(50% - 70px);
}

.contrary-header:after{
    content: '';
    width: 140px;
    height: 3px;
    background-color: rgb(220, 0, 0);
    display: inline-block;
    position: absolute;
    bottom: -17px;
    left: calc(50% - 70px); 
}

.contrary-categories{   
}

.contrary-item{
    float: left;
    width: 186px;
    height: 186px;
    background-size: cover;
    margin: 0 90px;
}

.contrary-item:first-child{
    background: url("../images/shape-1.png") no-repeat;
}

.contrary-item:nth-child(2){
    background: url("../images/shape-2.png") no-repeat;
    margin-left: 13.3%;
}

.contrary-item:last-child{
    background: url("../images/shape-3.png") no-repeat;
}

.contrary-item-link{
    display: block;
    width: 248px;
    height: 186px;
}

.contrary-text-bold{
    text-align: center;
    color: #6993ef;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
}

.contrary-text-slim{
    text-align: center;
    margin-left: -32px;
    width: 248px;
    height: 31px;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 400;
}

/*-----Contrary-styles-end-----*/

/*-----Shoping-styles-----*/
.shopping{
    margin-top: 150px;
}

.shopping-header-vs-picture{
    margin-left: 70px;
}

.shopping-header{
    margin-left: 27px;
    color: #6f7072;
    font-size: 42px;
    font-weight: 400;
    line-height: 44px;
}

.shopping-picture{
    margin-top: 35px;
    background: url("../images/cart.png");
    width: 371px;
    height: 274px;
    float: left;
}

.shopping-paragraf{
      margin-left: 580px;
}

.shopping-paragraf-header{
  
    color: #6f7072;
    font-size: 26px;
    font-weight: 400;
    line-height: 44px;
}

.shopping-paragraf-text{
    margin-top: 20px;
    width: 476px;
    color: #8f8f8f;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
}

.copyright{
    margin-top: 100px;
    text-align: center;
    color: #8f8f8f;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
}

.copyright a{
    color: #8f8f8f;
    text-decoration: none;
}